@page "/hopdong/{id?}"
@inject IHopDongServices opDongServices
@inject ISinhVienServices inhVienServices
@inject IPhongServices hongServices
@inject IThongBaoServices hongBaoServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer
<br />
<h1>Thông tin sinh viên</h1>
<table class="table">
    <thead>
        <tr>
            <th>Mã Số Sinh Viên</th>
            <th>Tên Sinh Viên</th>
            <th>Ngày Sinh</th>
            <th>Lớp</th>
            <th>Khoa</th>
            <th>Giới Tính</th>
            <th>Số Cccd</th>
            <th>Địa Chỉ</th>
        </tr>
    </thead>
    <tbody>
            <td>@sinhvien.Mssv</td>
            <td>@sinhvien.TenSinhVien</td>
            <td>@sinhvien.NgaySinh?.ToString("dd/MM/yyyy")</td>
            <td>@sinhvien.Lop</td>
            <td>@sinhvien.Khoa</td>
            <td>@sinhvien.GioiTinh</td>
            <td>@sinhvien.SoCccd</td>
            <td>@sinhvien.DiaChi</td>
    </tbody>
</table>
<br/>
<h1>Thông tin hợp đồng</h1>
<table class="table">
    <thead>
        <tr>
            <th>Số Hợp Đồng</th>
            <th>Ngày lập</th>
            <th>Trạng Thái</th>
            <th>Phòng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@hopdong.SoHopDong</td>
            <td>@hopdong.NgayLap</td>
            <td>@hopdong.PhuongThucThanhToan</td>
            <td>@hopdong.MaPhong</td>
        </tr>
    </tbody>
</table>
<div>
    <td>
        <button class="btn btn-secondary" @onclick="@(() => pheduyet(@hopdong.SoHopDong))">Phê duyệt</button>
        <button class="btn btn-danger" @onclick="HuyBo">Hủy Bỏ</button>
        <button class="btn btn-primary" @onclick="quaylai">Quay lại</button>
    </td>
</div>

@if (hienThiLyDoHuyBo)
{
    <LyDoHuyBo OnHuyBoXacNhan="XuLyHuyBoXacNhan" OnDongModal="DongModalLyDoHuyBo" />
}

@code {
    [Parameter]
    public string? id { get; set; }
    public Hopdong hopdong  = new Hopdong();
    public Sinhvien? sinhvien = new Sinhvien();
    private Phong? phong = new Phong();
    private bool hienThiLyDoHuyBo = false;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            hopdong = await opDongServices.GetPhongByIdAsync(id);
        }
        if (!string.IsNullOrEmpty(hopdong.Mssv))
            sinhvien = await inhVienServices.GetByIdAsync(hopdong.Mssv);
    }
    async Task pheduyet(string id)
    {
        if (id != null)
        {
            // Tạo thông báo mới
            var thongBao = new ThongBao
                {
                    MaThongBao = Guid.NewGuid().ToString(), 
                    NoiDung = "Hợp đồng thuê chỗ ở nội trú đã được gửi đi phê duyệt.",
                    ThoiGianThongBao = DateTime.Now,
                    TrangThaiThongBao = false, 
                    Iduser = sinhvien.Iduser
            };
            // Lưu thông báo vào cơ sở dữ liệu
            await hongBaoServices.AddThongBaoAsync(thongBao);
        }

        hopdong = await opDongServices.GetPhongByIdAsync(id);

        if (hopdong != null)
        {
            hopdong.PhuongThucThanhToan = "Thành Công";
            await opDongServices.UpdatePhongAsync(hopdong);

            phong = await hongServices.GetPhongByIdAsync(hopdong.MaPhong);

            if (phong != null)
            {
                phong.SoNguoiO = phong.SoNguoiO + 1;
                await hongServices.UpdatePhongAsync(phong);
            }
        }
        navigationManager.NavigateTo("/hopdong", true);
    }
    void HuyBo()
    {
        hienThiLyDoHuyBo = true;
    }
    private async Task XuLyHuyBoXacNhan(string lyDo)
    {
        if (!string.IsNullOrEmpty(lyDo))
        {
                var thongBao = new ThongBao
                {
                    MaThongBao = Guid.NewGuid().ToString(),
                    NoiDung = $"Hợp đồng của bạn đã bị hủy với lý do: {lyDo}",
                    ThoiGianThongBao = DateTime.Now,
                    TrangThaiThongBao = false,
                    Iduser = sinhvien.Iduser
                };

            // Lưu thông báo vào cơ sở dữ liệu
            await hongBaoServices.AddThongBaoAsync(thongBao);
        }

        opDongServices.DeletehopdongAsync(hopdong.SoHopDong);
        navigationManager.NavigateTo("/hopdong", true);

        hienThiLyDoHuyBo = false;
    }
    private void DongModalLyDoHuyBo()
    {
        hienThiLyDoHuyBo = false;
    }
    void quaylai()
    {
        navigationManager.NavigateTo("/hopdong", true);
    }
}
